FORMAT: 1A
HOST: https://api.joshandromidas.com

# Hack Reactor SDC - Team Washington DC

## Products [/products]

### List All Products [GET]
Returns all of the products in the database in a paginated array.
You can specify the count (max 100) and page number you'd like to view.

This action returns a 200 status code along with a JSON body.

+ Response 200 (application/json)

        [{"id":1,"name":"Camo Onesie","slogan":"Blend in to your crowd","description":"The So Fatigues will wake you up and fit you in. This high energy camo will have you blending in to even the wildest surroundings.","category":"Jackets","default_price":140},{"id":2,"name":"Bright Future Sunglasses","slogan":"You've got to wear shades","description":"Where you're going you might not need roads, but you definitely need some shades. Give those baby blues a rest and let the future shine bright on these timeless lenses.","category":"Accessories","default_price":69},{"id":3,"name":"Morning Joggers","slogan":"Make yourself a morning person","description":"Whether you're a morning person or not.  Whether you're gym bound or not.  Everyone looks good in joggers.","category":"Pants","default_price":40},{"id":4,"name":"Slacker's Slacks","slogan":"Comfortable for everything, or nothing","description":"I'll tell you how great they are after I nap for a bit.","category":"Pants","default_price":65},{"id":5,"name":"Heir Force Ones","slogan":"A sneaker dynasty","description":"Now where da boxes where I keep mine? You should peep mine, maybe once or twice but never three times. I'm just a sneaker pro, I love Pumas and shell toes, but can't nothin compare to a fresh crispy white pearl","category":"Kicks","default_price":99}]


## Product Information [/products/{product_id}]

### Product Information [GET]
asdf

+ Response 200

        {"id":100,"name":"Elody Cap","slogan":"Sequi molestiae eos aut ratione deleniti et omnis officia voluptatem.","description":"Accusamus et tempore accusamus sunt accusamus aliquam neque esse rerum. Doloremque mollitia qui. Velit quae dolores. Quia et a sed sint. Facilis qui et eligendi. Id reprehenderit rem ullam dolor rerum.","category":"Cap","default_price":211,"features":[{"feature":"Lens","value":"Ultrasheen Basic"},{"feature":"Buttons","value":"White Resin"}]}

